@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  background-color: black; 
  color: rgb(74, 222, 128); /* Set default text color directly */
}

/* Adjusting custom class without @apply */
.custom-class {
  font-size: 1.125rem; /* Equivalent to text-lg */
  padding: 1rem; /* Equivalent to p-4 */
  font-family: 'Poppins', sans-serif;
}
